<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/post.css" th:href="@{/static/css/post.css}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script type="text/javascript" src="../static/js/post.js" th:src="@{/static/js/post.js}"></script>
</head>
<body>
	<div class="main">
		<header>
			<div>
				<div class="fasion-blog">
					<div class="title">My Fashion Blog</div>
					<div class="subtitle">Welcome to this website</div>
				</div>
				<div class="nav-menu">
					<div><a th:href="@{/}">My Fashion Blog</a></div>
					<div><a th:href="@{/about-me}">About me</a></div>
					<div><a th:href="@{/send-message}">Contact</a></div>
				</div>
			</div>
		</header>
		<form class="new-post" th:action="@{/create-post}" method="post" enctype="multipart/form-data">
			<div class="type">
				<label class="type-choose" for="type">Choose type post:</label> <select
					name="cars" id="type" th:field="${form.type}">
					<option value="image">Image</option>
					<option value="article">Article</option>
				</select>
			</div>
			<div class="img-div"> 
				<img id="blah" src="#" alt="your image" /> 
				<input type="file" id="add-img" onchange="readURL(this)" th:field  ="${form.image}" ></input>
				   <label id="label" for="add-img"> <i class='far fa-plus-square'></i> </label>
			</div>
			<div class="wrapper" style="width: 50%">
				<div class="header-bar">
					<div
						style="text-align: center; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; width: 100%">
						<strong>Title</strong>
					</div>
				</div>
				<div class="content title-content">
					<textarea class="form-control" rows="5" name="description" th:field = "${form.title}"></textarea>
				</div>
			</div>
			<div class="wrapper">
				<div class="header-bar">
					<div
						style="text-align: center; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;">
						<strong>Content</strong>
					</div>
				</div>
				<div class="content description-content">
					<textarea class="form-control" rows="5" name="content" th:field="${form.content}"></textarea>
				</div>
			</div>
			<input class="add-btn" id="submitBtn" name="Submit" type="submit"/>
		</form>
	</div>
</body>
</html>